.sidebar {
  color: #fff;
  height: 100%;
  flex: 1 0 100%;
  order: 2;
  position: relative;
  padding-bottom: 80px;
  display: flex;
  align-items: center;

  aside {
    height: inherit;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: relative;
    padding: 0 20px 0 125px;

    @media screen and (max-width: 480px) {
      padding: 0 40px 0 80px;
    }

    @media screen and (min-width: 1001px) {
      width: 38%;
      margin: 0 0 0 auto;
      max-width: 445px;
      padding: 0;
    }

    &::before {
      content: '';
      border-left: 1px solid rgba(#fff, .45);
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      left: 87px;

      @media screen and (max-width: 480px) {
        left: 55px;
      }

      @media screen and (min-width: 1001px) {
        left: -15px;
      }
    }

    &::after {
      width: 18px;
      height: 18px;
      position: absolute;
      top: 8px;
      transform: translate(-50%, -50%);
      content: '';
      left: 87px;
      border-radius: 50%;
      background-color: #fff;

      @media screen and (max-width: 480px) {
        left: 55px;
      }

      @media screen and (min-width: 1001px) {
        display: none;
      }
    }
  }
}

.tumb {
  position: relative;
  margin-top: 105px;
  transition: all .2s ease-in-out;

  @media screen and (min-width: 1001px) {
    opacity: .6;
  }

  &:hover {
    opacity: 1;
  }

  &:first-child {
    margin-top: 25px;

    @media screen and (min-width: 1001px) {
      margin-top: 0;
    }
  }

  &__date {
    position: absolute;
    transform: rotate(-90deg);
    opacity: .5;
    left: -164px;
    top: 59px;
    font-size: 2.25em;
    letter-spacing: 20px;

    @media screen and (max-width: 480px) {
      font-size: 1.5em;
      left: -100px;
      letter-spacing: 10px;
      top: 45px;
    }

    @media screen and (min-width: 1001px) {
      left: -59px;
      top: 23px;
      font-size: .7em;
      letter-spacing: 8px;
    }
  }

  &__title {
    @media screen and (min-width: 1001px) {
      font-family: $ff-bold !important;
      font-size: 1.65em !important;
      padding: 0 0 8px 0 !important;
      letter-spacing: auto !important;
    }

    font-size: 3.7em !important;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1 !important;
    padding: 15px 0 32px 0 !important;

    @media screen and (max-width: 480px) {
      font-size: 2.5em !important;
      padding: 15px 0 20px 0 !important;
    }
  }

  &__img {
    @media screen and (min-width: 1001px) {
      width: 195px;
    }

    width: 100%;
  }

  &__desc {
    display: block;
    font-size: 30px;
    margin-top: 30px;
    opacity: .6;

    @media screen and (min-width: 1001px) {
      width: 200px;
      font-size: .77em;
      line-height: 15px;
      margin-top: 0;
    }

    @media screen and (max-width: 480px) {
      font-size: 20px;
      margin-top: 20px;
    }
  }
}
