    //main styles
    .main-wrapper {
      padding: 0 0 0 0;
      min-width: $min-width;
      width: 100%;
      position: relative;
      overflow: hidden;
      min-height: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      background: #222 url('../img/page_bg.png') center center no-repeat;
      background-size: cover;

      .circle,
      .elipse {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 1600px) {
          width: 30%;
        }
      }

      .sideline__right {
        height: 100%;
        border-right: 1px solid rgba(#fff, .25);
        position: absolute;
        right: 83px;
        top: 140px;

        &::before {
          position: absolute;
          width: 7px;
          height: 7px;
          background-color: #fff;
          content: '';
          border-radius: 50%;
          top: 0;
          transform: translate(-50%, 50%);
          left: 0;
        }
      }

      .layer-2 {
        background: #222 url('../img/page_bg-elipse.png') left center no-repeat;
        background-size: cover;
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        box-shadow: 35px 0 40px rgba(0, 0, 0, .5);

        .logo {
          &.start {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translate(0, -50%);
            padding-right: 50px;
            text-align: right;

            img {
              display: inline-block;
            }
          }

          &.end {
            position: absolute;
            top: 50%;
            right: -115px;
            transform: translate(0, -50%);

            @media screen and (max-width: 1600px) {
            	right: -30%;
              width: 30%;

              img {
                width: 100%;
              }
            }
          }

          &.start,
          &.end {
            img {
              @media screen and (max-width: 1600px) {
                width: 45%;
              }
            }
          }
        }

        .side-logo {
          width: 83px;
          height: 100%;
          border-right: 1px solid rgba(#fff, .15);
          position: relative;

          .logo {
            position: absolute;
            top: 151px;
            left: 0; //transform: translate(-50%, 0);
            background: #070709 url('../img/dots_bg.png') center center no-repeat;
            background-size: cover;
            padding: 13px 0;
            width: calc(100% + 25px);
            height: 120px;

            span {
              &::after {
                position: absolute;
                width: 7px;
                height: 7px;
                background-color: #fff;
                content: '';
                border-radius: 50%;
                top: -2px;
                transform: translate(-50%, -100%);
                left: 83px;
              }
            }

            img {
              position: absolute;
              right: 6px;
              top: 50%;
              transform: translate(0, -50%);
            }
          }
        }
      }

      /* titles */
      p {
        @include font($base-font-size,
        $base-line-height,
        $text-color);
        padding: 15px 0 15px 0;
        font-weight: 400;
      }

      h1 {
        @include font($font-size-h1,
        $line-height-h1,
        $title-color);
        font-family: $title-font-family;
        padding: 15px 0 15px 0;
        font-weight: 400;
      }

      h2 {
        @include font($font-size-h2,
        $line-height-h2,
        $title-color);
        font-family: $title-font-family;
        padding: 15px 0 15px 0;
        font-weight: 400;
      }

      h3 {
        @include font($font-size-h3,
        $line-height-h3,
        $title-color);
        font-family: $title-font-family;
        padding: 15px 0 15px 0;
        font-weight: 400;
      }
      /* text position */
      .text-left {
        text-align: left!important
      }

      .text-center {
        text-align: center!important
      }

      .text-right {
        text-align: right!important
      }

      .nowrap {
        white-space: nowrap!important;
      }
      /* loader */
      .loaded .main-wrapper {
        visibility: hidden;
      }

      .icon-load {
        background: url(../img/loader.gif) no-repeat left top;
        width: 40px;
        height: 40px;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -20px;
        margin-left: -20px;
        display: none;
      }

      .loaded .icon-load {
        display: block;
      }
    }
    /*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/

    .content {
      min-width: $min-width;
      text-align: left;
      width: 100%;
      order: 2;
      -webkit-order: 2;
      flex-grow: 1;
      -webkit-flex-grow: 1;
      background: transparent;
    }


    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
      body {
        min-height: 100hv;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    @media screen and (max-width: 1200px) {}

    @media screen and (min-width: 992px) {}

    @media screen and (max-width: 991px) {}

    @media screen and (min-width: 768px) and (max-width: 991px) {}

    @media screen and (max-width: 767px) {}
